.App {
  background-color: #034108;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #920808;
}

.Player-cards {
  display: flex;
  flex-direction: row;
}

.Card-front {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 7em;
  background-color: white;
  color: black;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.Card-Front.Top-value {
  position: absolute;
  top: 0.5em;
  left: 0.75em;
}

.Card-front.Bottom-Value {
  position: absolute;
  top: 6.5em;
  left: 4.25em;
  transform: rotate(180deg);
}

.Suit {
  margin-left: 0.5em;
}

.Card-backside {
  padding-left: 1rem;
}

